
.thumbnail img{
	width: 100%;
}

.thumbnail.show{
	padding: 0px;
}

.container{
	margin-top:10px;
}

.thumbnail.show .caption-full{
	padding:10px;
}

.comment-header{
	font-size: 2em;
	font-weight:bold;
}

.delete-post-form{
	display:inline;
}

#delete-review-form{
	display:inline;
}

#map{
	height:400px;
	width:100%;
}

.container h1{
	text-align: center;
}

#jumbotron-h1{
	text-align:left;
}
.row .container-fluid{
	width:40%;
	margin: 30px auto;
}
.checked{
	color: orange;
}
